# 写css 推荐顺序
.css {
	display: ;
	position: ;
	left: ;
	top: ;
	right: ;
	bottom: ;
	z-index: ;
	float: ;
	clear: ;
	width: ;
	height: ;
	margin: ;
	padding: ;
	border: ;
	background: ;
	color: ;
	font: ;
	text-decoration: ;
	text-align: ;
	vertical-align: ;
	white-space: ;
	test-XXX: ;
	CSS3;

}






